In [1]:
import pandas as pd

#### Importar e conhecer a base da dados:

In [8]:
df = pd.read_csv("database.csv", sep=";")
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [9]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape #typla Qtd de linhas e colunas

(32960, 9)

In [12]:
df.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [16]:
df[["Tipo", "Quartos", "Valor"]]

                          Tipo  Quartos   Valor
0                    Quitinete        1  1700.0
1                         Casa        2  7000.0
2      Conjunto Comercial/Sala        0  5200.0
3                  Apartamento        1   800.0
4                  Apartamento        1   800.0
...                        ...      ...     ...
32955                Quitinete        0   800.0
32956              Apartamento        3  1800.0
32957              Apartamento        2  1400.0
32958              Apartamento        2  3000.0
32959  Conjunto Comercial/Sala        0  6500.0

[32960 rows x 3 columns]